/* ContentFeed.css */
/* Import the Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.content-item h2 {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif; /* Apply the Montserrat font */
  font-size: 14px; /* Make the font smaller */
  text-align: center; /* Center align the text */
  text-decoration: none; /* Remove the underline */
  margin-bottom: 5px;
}

.content-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 80%;
  width: 100%; /* Set width to 100% */
  transition: width 0.3s ease;


  /* Hide vertical scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide vertical scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.content-feed::-webkit-scrollbar {
  display: none;
}
.content-feed {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}
.content-item {
  flex: 0 0 200px; /* Change this line */
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 20px;
  max-width: calc(15% - 20px); /* Set max-width to 100% minus the total horizontal margin */
}
.content-item img {
  width: 100%;
  height: auto;
  border-radius: 20px; /* Add this line */
}
.content-item h2 {
  margin-top: 10px;
}

/* Add a class to the content feed when the sidebar is hidden */
.content-feed.sidebar-hidden {
  width: 100%;
}

.content-feed-wrapper {
  overflow: auto;
  width: 100%;
}

.content-feed-wrapper::-webkit-scrollbar {
  display: none;
}

.content-feed {
  width: 88%;
  margin: 0 auto;
  height: 100vh; /* make the height equal to the viewport height */
  overflow: auto; /* enable scrolling */
}

.content-item {
  flex: 1 0 200px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content-item img {
  width: 100%;
  height: auto;
}

/* ContentFeed.css */

.content-feed a {
  text-decoration: none;
}

.content-feed h2 {
  text-decoration: none;
  /* Your other styles */
}

.content-feed::-webkit-scrollbar {
  width: 10px;
}

.content-feed::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.content-feed::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.content-feed::-webkit-scrollbar-thumb:hover {
  background: #555;
}