@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.story-play-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .content-container {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 2vmin;
    font-family: 'Montserrat', sans-serif; /* Apply the Montserrat font */
  }
  
  .content-container img {
    width: 100%;
    height: auto;
  }